<div>
	<p><%= @itinerary.name %></p>
	<p>Leaving <%= @itinerary.origin %> on <%= @itinerary.dep_date %></p>
	<p>Destination: <%= @itinerary.destination %></p>
	<p>Returning on <%= @itinerary.ret_date %></p>
</div>