<head>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<div>
	<h1><%= @itinerary.name %></h1>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/itineraries/<%= @itinerary.id %>/edit">Edit Trip</a></li> 
		<li><a href="/itineraries/">Add Waypoints</a></li> 
	</ul>
	<p>Leaving <%= @itinerary.origin %> on <%= @itinerary.dep_date %></p>
	<p>Destination: <%= @itinerary.destination %></p>
	<p>Returning on <%= @itinerary.ret_date %></p>
</div>